body {
    background: rgb(2,0,36);
    background: linear-gradient(346deg, rgba(2,0,36,1) 0%, rgba(130,130,255,0.5382528011204482) 44%, rgba(68,66,255,0.6278886554621849) 61%, rgba(132,130,255,1) 100%);
    color: azure;
}

nav {
    display: inline-block;
}

.navbar {
    margin: 35px;
}

h1 {
    color: azure;
    display: inline-block;
}

.Links {
    display: inline-block;
}

.links li {
    display: inline-block;
    text-decoration: none;
    font-size: x-large;
}

.card h2 {
    display: inline-block;
    font-style: italic;
    font-weight: bold;
}

.card img {
    height: 500px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px rgb(19, 30, 185);
    transition: all .2s;
}

.card {
    width: 40%;
    display: inline-block;
    padding: 20px;
}

#About {
    width: 40%;
    margin: 10px;
}

#About h3 {
    font-size: 40px;
    font-weight: 300;
}

#Contact {
    margin-top: 70px;
}

#Contact p {
    font-size: 15px;
    margin: 0;
    text-decoration: rgb(0, 247, 255) underline;
}

html {
    scroll-behavior: smooth;
}

.card img:hover {
    opacity: 0.5;
}