body {
    font-family: Arial, sans-serif;
    margin: 80px;
    background-color: bisque;
    color: #333;
    line-height: 1.6;
}

/* Konténer */
.container {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main-title {
    color: #4CAF50;
    font-size: 2.5em;
    margin-bottom: 10px;
    background-color: antiquewhite;
    text-align: center;
}

#sub-title {
    color: #2196F3;
    font-size: 2em;
    margin-bottom: 8px;
}

.section-title {
    color: #FF9800;
    font-size: 1.5em;
    margin-bottom: 6px;
}

#place {
    background-color: #4CAF50;
}

.anywhere{
    color: #FF9800;
}

.text {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #4CAF50;
}

.line {
    color: blue;
}

#ordered-list {
    color: black;
}

.unordered-list {
    list-style-type: square;
    margin: 10px 0;
    background-color: bisque;
}



li:first-child {
    background-color: #E3F2FD;
    padding: 5px;
    border-radius: 5px;
    color: #FF9800;
}


br {
    margin: 10px;
}

#harmadik {
    list-style-type: circle;
}